* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    font-weight: normal;
    text-decoration: none;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    /* Colors  */
    --Blue: #7C8EE9;
    --Dark-Blue: #333459;
    --Brown: #B87C78;

    /* Font Color */
    --Black: #233543;
    --Gray: #868686;
}

ol,
ul {
    list-style: none;
}

del {
    text-decoration: line-through;
}

body {
    font-family: "Outfit", Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: var(--Black);
    overflow-x: hidden;
    min-width: 320px;
    font-weight: 500;
}

input,
textarea,
select {
    font-family: "Outfit", Arial, Helvetica, sans-serif;
    font-weight: 500;
}

a {
    color: var(--Gray);
}

a:hover {
    color: var(--Black);
}

.thumb {
    display: block;
}

.thumb img {
    display: block;
    width: 100%;
}

p {
    line-height: 1.6em;
    font-size: 16px;
    font-family: "Outfit", Arial;
    font-weight: 500;
    color: var(--Gray);
}

.hidden {
    display: none;
}

br.clear {
    clear: both;
    line-height: 0;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

.flex-wrapper {
    display: flex;
    justify-content: space-between;
}

@font-face {
    font-family: 'Outfit';
    src: url('../fonts/Outfit-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('../fonts/Outfit-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('../fonts/Outfit-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('../fonts/Outfit-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Antonio';
    src: url('../fonts/Antonio-Bold.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

#home {
    height: 100vh;
    width: 100%;
}

/* Header style  */
header div.container {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header div.container div.left {
    width: 40%;
}

header div.container div.left h1 a {
    display: inline-block;
    width: 140px;
}

header div.container div.left h1 a img {
    width: 100%;
}

header div.container div.right {
    width: 60%;
}

header div.container div.right ul {
    display: flex;
    justify-content: space-evenly;
}

header div.container div.right ul li a {
    position: relative;
    font-weight: 500;
    font-size: 16px;
}

header div.container div.right ul li a::before {
    content: "";
    position: absolute;
    height: 4px;
    width: 0%;
    left: 0;
    bottom: -5px;
    background: var(--Blue);
    display: block;
    transition: width 0.5s ease-in;
}

header div.container div.right ul li a:hover::before {
    width: 50%;
}

header div.container div.right ul li:last-child a {
    color: var(--Blue);
    padding: 10px 20px;
    border: 2px solid;
    letter-spacing: 1px;
}

header div.container div.right ul li:last-child a:hover {
    color: #fff;
    background: var(--Blue);
}

header div.container div.right ul li:last-child a::before {
    display: none;
}

/* spotlight section  */

#spotlight section.wrapper {
    margin: 0;
    margin-left: 8%;
    width: 100%;
}

#spotlight div.container {
    height: calc(100vh - 80px);
    display: flex;
}

#spotlight div.container div.left {
    width: 30%;
    padding: 45px 15px;
}

#spotlight div.container div.left div.counts {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

#spotlight div.container div.left div.counts div.count {
    text-align: center;
    width: 30%;
}

#spotlight div.container div.left div.counts div.count span.number {
    color: var(--Brown);
    font-size: 25px;
    font-family: 'Antonio';
}

#spotlight div.container div.left div.counts div.content {
    position: absolute;
    bottom: -346px;
    height: 325px;
    width: 485px;
    padding: 25px 44px;
    background-color: #faf9f7;
}

#spotlight div.container div.left div.counts div.content h2 {
    font-weight: 600;
    font-size: 30px;
    margin: 15px 0px;
    padding-right: 40px;
}

#spotlight div.container div.left div.counts div.content p {
    font-size: 15px;
    margin-bottom: 35px;
    padding-right: 10px;
}

#spotlight div.container div.left div.counts div.content a.button {
    margin-top: 20px;
    padding: 12px 20px;
    background: var(--Blue);
    color: #fff;
    font-size: 16px;
}

#spotlight div.container div.right {
    width: 70%;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: space-between;
}

#spotlight div.container div.right div.image {
    display: inline-block;
    width: 100%;
}

#spotlight div.container div.right div.image img {
    overflow: hidden;
    width: 100%;
    height: 475px;
}

/* About section  */
#about {
    width: 100%;
    padding: 100px 0px 40px;
}

#about div.container {
    display: flex;
}

#about div.container div.left {
    width: 50%;
}

#about div.container div.left div.image {
    position: relative;
    display: inline-block;
    width: 85%;
}

#about div.container div.left div.image>img {
    width: 100%;
    height: 460px;
}

#about div.container div.left div.image div.control {
    position: absolute;
    bottom: 4px;
    background-color: #faf9f7;
    padding: 20px 40px;
    width: 175px;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    opacity: 0.5;
    transition: opacity 0.4s ease-in;
}

#about div.container div.left div.image div.control:hover {
    opacity: 1;
}

#about div.container div.left div.image div.control a {
    display: inline-block;
    width: 35px;
}

#about div.container div.left div.image div.control a img {
    width: 100%;
}

#about div.container div.right {
    width: 50%;
    display: flex;
    align-items: center;
}

#about div.container div.right div.content h2 {
    position: relative;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 40px;
}

#about div.container div.right div.content h2::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 10%;
    left: 0;
    bottom: -5px;
    background: var(--Blue);
    display: block;
    transition: width 0.5s ease-in;
}

#about div.container div.right div.content p {
    padding-right: 95px;
    margin-bottom: 40px;
}

#about div.container div.right div.content a.button {
    margin-top: 20px;
    padding: 12px 20px;
    background: var(--Blue);
    color: #fff;
    font-size: 16px;
}

/* Work section  */
#works {
    padding: 30px 0px;
    margin: 10px 0px;
}

#works section.wrapper {
    margin: 0;
    margin-left: 8%;
    width: 100%;
}

#works div.container div.heading {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

#works div.container div.heading h2 {
    position: relative;
    font-weight: 500;
    font-size: 30px;
}

#works div.container div.heading h2::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 20%;
    left: 0;
    bottom: -4px;
    background: var(--Blue);
    display: block;
}

#works div.container div.heading div.arrows a {
    display: inline-block;
    width: 32px;
    margin-right: 10px;
}

#works div.container div.heading div.arrows a img {
    width: 100%;
}

#works div.container div.work ul {
    display: flex;
    justify-content: space-between;
}

#works div.container div.work ul li {
    position: relative;
    width: 23%;
}

#works div.container div.work ul li>a {
    display: inline-block;
}

#works div.container div.work ul li>a>img {
    width: 100%;
    overflow: hidden;
}

#works div.container div.work ul li div.location {
    position: absolute;
    bottom: 4px;
    height: 75px;
    width: 85%;
    background: #f8f4f2;
    opacity: 0.8;
    padding: 15px;
    z-index: 2;
    cursor: pointer;
}

#works div.container div.work ul li div.location:hover {
    opacity: 1;
}

#works div.container div.work ul li div.location a img {
    margin-right: 5px;
    width: 5%;
}

#works div.container div.work ul li div.zoom {
    position: absolute;
    top: 20px;
    left: 13px;
    height: 340px;
    width: 90%;
    background: #f8f4f2;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    cursor: pointer;
}

#works div.container div.work ul li div.zoom:hover {
    opacity: 0.8;
}

#works div.container div.work ul li div.zoom a {
    display: inline-block;
    width: 15%;
}

#works div.container div.work ul li div.zoom a img {
    width: 100%;
}

/* Why Choice Us  */
article {
    padding: 60px 0px;
    background: #faf9f7;
}

article div.container div.heading {
    margin: 30px 0 70px;
}

article div.container div.heading h2 {
    position: relative;
    font-weight: 500;
    font-size: 30px;
}

article div.container div.heading h2::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 4%;
    left: 0;
    bottom: -9px;
    background: var(--Blue);
    display: block;
}

article div.container div.contents {
    display: flex;
    justify-content: space-between;
}

article div.container div.contents div.content {
    width: 22%;
}

article div.container div.contents div.content a {
    display: block;
    width: 13%;
    margin-left: 40px;
    position: relative;
    z-index: 0;
}

article div.container div.contents div.content a img {
    width: 100%;

}

article div.container div.contents div.content a::before {
    content: "";
    position: absolute;
    height: 80px;
    width: 90px;
    left: -25px;
    bottom: -18px;
    background: #fff;
    display: block;
    z-index: -1;
}

article div.container div.contents div.content h3 {
    font-weight: 500;
    font-size: 22px;
    margin: 40px 0 20px;
}

article div.container div.contents div.content p {
    font-size: 16px;
}

/* Recommends section  */
#recommend_Section {
    padding: 30px 0px;
    margin: 10px 0px;
}

#recommend_Section section.wrapper {
    margin: 0;
    margin-left: 8%;
    width: 100%;
}

#recommend_Section div.container {}

#recommend_Section div.container div.heading {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

#recommend_Section div.container div.heading h2 {
    position: relative;
    font-weight: 500;
    font-size: 30px;
}

#recommend_Section div.container div.heading h2::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 14%;
    left: 0;
    bottom: -8px;
    background: var(--Blue);
    display: block;
}

#recommend_Section div.container div.heading div.arrows {}

#recommend_Section div.container div.heading div.arrows a {
    display: inline-block;
    width: 32px;
    margin-right: 10px;
}

#recommend_Section div.container div.heading div.arrows a img {
    width: 100%;
}

#recommend_Section div.container div.recommends {
    display: flex;
}

#recommend_Section div.container div.recommends div.recommends_Content {
    width: 20%;
}

#recommend_Section div.container div.recommends div.recommends_Content ul {
    margin-top: 40px;
}

#recommend_Section div.container div.recommends div.recommends_Content ul li {
    margin-bottom: 20px;
}

#recommend_Section div.container div.recommends div.recommends_Content ul li a {}

#recommend_Section div.container div.recommends div.recommends_Image {
    width: 80%;
    padding: 40px 30px;
    background-color:#faf9f7 ;
}

#recommend_Section div.container div.recommends div.recommends_Image ul {
    display: flex;
    justify-content: space-between;
}

#recommend_Section div.container div.recommends div.recommends_Image ul li {
    width: 31%;
    position: relative;
}

#recommend_Section div.container div.recommends div.recommends_Image ul li>a {
    display: inline-block;
}
#recommend_Section div.container div.recommends div.recommends_Image ul li>a>img {
    width: 100%;
}
#recommend_Section div.container div.recommends div.recommends_Image ul li div.arrow {
    position: absolute;
    bottom: 4px;
    height: 55px;
    width: 40%;
    background: #f8f4f2;
    opacity: 0.8;
    padding: 15px 40px;
    cursor: pointer;
}
#recommend_Section div.container div.recommends div.recommends_Image ul li div.arrow:hover{
    opacity: 1;
    background: #fff;
}
#recommend_Section div.container div.recommends div.recommends_Image ul li div.arrow a{
    display: inline-block;
    width: 25px;
}
#recommend_Section div.container div.recommends div.recommends_Image ul li div.arrow a img{
    width: 100%;
}
