* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    font-weight: normal;
    text-decoration: none;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    /* Colors  */
    --Blue: #7C8EE9;
    --Dark-Blue: #333459;
    --Brown: #B87C78;

    /* Font Color */
    --Black: #233543;
    --Gray: #868686;
}

ol,
ul {
    list-style: none;
}

del {
    text-decoration: line-through;
}

body {
    font-family: "Outfit", Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: var(--Black);
    overflow-x: hidden;
    min-width: 320px;
    font-weight: 500;
}

input,
textarea,
select {
    font-family: "Outfit", Arial, Helvetica, sans-serif;
    font-weight: 500;
}

a {
    color: var(--Gray);
}

a:hover {
    color: var(--Black);
}

.thumb {
    display: block;
}

.thumb img {
    display: block;
    width: 100%;
}

p {
    line-height: 1.6em;
    font-size: 16px;
    font-family: "Outfit", Arial;
    font-weight: 500;
    color: var(--Gray);
}

.hidden {
    display: none;
}

br.clear {
    clear: both;
    line-height: 0;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

.flex-wrapper {
    display: flex;
    justify-content: space-between;
}

@font-face {
    font-family: 'Outfit';
    src: url('../fonts/Outfit-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('../fonts/Outfit-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('../fonts/Outfit-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('../fonts/Outfit-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Antonio';
    src: url('../fonts/Antonio-Bold.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

#home {
    height: 100vh;
    width: 100%;
}

/* Header style  */
header div.container {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header div.container div.left {
    width: 40%;
}

header div.container div.left h1 a {
    display: inline-block;
    width: 140px;
}

header div.container div.left h1 a img {
    width: 100%;
}

header div.container div.right {
    width: 60%;
}

header div.container div.right ul {
    display: flex;
    justify-content: space-evenly;
}

header div.container div.right ul li a {
    position: relative;
    font-weight: 500;
    font-size: 16px;
}

header div.container div.right ul li a::before {
    content: "";
    position: absolute;
    height: 4px;
    width: 0%;
    left: 0;
    bottom: -5px;
    background: var(--Blue);
    display: block;
    transition: width 0.5s ease-in;
}

header div.container div.right ul li a:hover::before {
    width: 50%;
}

header div.container div.right ul li:last-child a {
    color: var(--Blue);
    padding: 10px 20px;
    border: 2px solid;
    letter-spacing: 1px;
}

header div.container div.right ul li:last-child a::before {
    display: none;
}